@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

/* Import Google Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'); */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
 
  font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif; /* Added fallback fonts */
}

/* Specific Font Application */
.custom-font {
  font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif; /* Added fallback fonts */
}
